.vQ0w7 {
  background-color: lightgray;
  width: 300px;
  border-radius: 10px;
  filter: blur(5px);
}

[role='listitem'] img {
  filter: blur(5px)
}

.CzM4m {
  filter: blur(5px);
}

.CzM4m:hover {
  filter: none;
}